<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<footer class="contentinfo">
				<p><small>Copyright &copy; ZenOf Code</small></p>
			</footer>
		</div>
	</div>
</div>